
@import "mixing.less";

/* Base styles
   ========================= */

* {
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	width: 100%;
	min-height: 100%;
	font-size: 1em;
	line-height: 1.4;
}

body {
	width: 100%;
	min-height: 100%;
	position: relative;
	background: url("../img/bg_tablet.jpg") center 0 no-repeat;
	background-size: cover;

}

.container {
	width: 100%;
	min-height: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;

}

.portrait {
	display: none;
}

.tablet {
	display: block;
}

.top {
	width: 100%;
	display: block;
	position: relative;
}

.bottom {
	position: relative;
}

.content {
	left: 5%;
	right: 5%;
	bottom: 3%;
	font-size: 0;
	line-height: 0;
	position: absolute;


	.btn {
		float: right;
		overflow: hidden;
		height: 34px;
		border: none;
		outline: none;
		display: inline-block;

		text-align: center;
		padding: 5px 15px;
		margin-left: 20px;
		background: #3b8732;
		text-decoration: none;
		.box-shadow(inset -2px 3px 20px 0px rgba(0, 0, 0, 0.6));

		span {
			font-size: 12px;
			font-weight: 700;
			line-height: 12px;
		}
	}

	label {
		float: right;
		overflow: hidden;
		height: 44px;
		width: 120px;
	}

	.input {
		height: 44px;
		width: 120px;
		border: none;
		outline: none;
		padding: 10px;
		color: #404140;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		background: #7e7e7e;
		display: inline-block;
		.placeholder(#404140);
		.box-shadow(inset -2px 3px 20px 0px rgba(0, 0, 0, 0.6));
	}


	.red {
		.input {
			background: #ff8989;
		}
	}
}


.done {
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 30px 20px;

	.done-title {
		color: #000;
		display: block;
		font-size: 20px;
		margin-bottom: 20px;
	}
}



@media  (orientation:portrait) {

	body {
		background: url("../img/bg_portrait.jpg") center 0 no-repeat;
		background-size: cover;
	}

	.top {

	}

	.tablet {
		display: none;
	}

	.portrait {
		display: block;
	}

	.content {
		right: 15%;
	}

}




/* Typography
   ========================= */

h1, h2, h3, h4 {

}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

a {

}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.text-right {
	text-align: center;
}